services:

  mysql:
    image: mysql:8.4
    restart: always
    container_name: mysql
    ports:
      - "3305:3306"
    volumes:
      - dev-data:/var/lib/mysql
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql"]
      interval: 3s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
     - app-network

  mysql-cli:
    image: mysql:8.4
    env_file:
      - .env
    command: mysql -hmysql -u$MYSQL_USER -p$MYSQL_PASSWORD $MYSQL_DATABASE
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  flask:
    container_name: flask
    build: 
      context: ./backend
      args:
        - DEV=true
    env_file:
      - .env
    volumes:
      - ./backend:/app
    command: gunicorn --config app/gunicorn_config.py app.app:app
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network
  
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - flask
    networks:
      - app-network

volumes:
  dev-data:

networks:
  app-network:
    driver: bridge