nav {
  display: flex;
  justify-content: flex-end;
}

ul li{
  padding: 5px;
  display: inline-block;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 80vh;
}

.upload-button input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
}

.upload-file {
  position: relative;
  background-color: white;
  border-style: dotted;
  border-radius: 8px;
  padding: 20px 80px;
  margin: 5px 0 5px 0;
}

.login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 80vh;
}

.login-button input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  margin: 5px 0 5px 0;
  width: 100%;
  box-sizing: border-box;
}

.login-container h2 {
    text-align: center;
}

.login-container form {
    width: 450px;
    margin: 0 auto;
}

.signup-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 80vh;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.signup-button input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  margin: 5px 0 5px 0;
  width: 100%;
  box-sizing: border-box;
}

.signup-container h2 {
    text-align: center;
}

.signup-container form {
    width: 450px;
    margin: 0 auto;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}