nav {
  display: flex;
  justify-content: flex-end;
}

ul li{
  padding: 5px;
  display: inline-block;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 80vh;
}

.upload-button input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
}

.upload-file {
  position: relative;
  background-color: white;
  border-style: dotted;
  border-radius: 8px;
  padding: 20px 80px;
}