<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}CarDoc Reader{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class = "header">
        {% block header %}
        <nav>
          <ul>
            {% if current_user.is_authenticated %}
            <li><a href="/home">HOME</a></li>
            <li><a href="/profile">プロフィール</a></li>
            <li><a href="/upload">アップロード</a></li>
            <li><a href="/ocr_list">案件一覧</a></li>
            <li><a href="/logout">ログアウト</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endblock %}
    </div>
    <main>{% block content %}{% endblock%}</main>
    <div class = "footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>