{% extends 'base.html' %}

{% block title %}一覧表示{% endblock %}

{% block content %}
<h2>一覧表示</h2>
{% if ocrs %}
<form action="{{ url_for('export') }}" method='POST'>
    {{ form.hidden_tag() }}
    <table border="1">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>案件ID</th>
                <th>新所有者名</th>
                <th>新所有者住所</th>
                <th>新所有者丁目</th>
                <th>新所有者番地</th>
                <th>作成日時</th>
                <th>更新日時</th>
            </tr>
        </thead>
        <tbody>
            {% for ocr in ocrs %}
            <tr>
                <td><input type="checkbox" class="checks" name="ocr_ids" value="{{ ocr.id }}"></td>
                <td><a href="{{ url_for('edit_ocr', ocr_id=ocr.id) }}">{{ ocr.id }}</a></td>
                <td>{{ ocr.new_owner_name }}</td>
                <td>{{ ocr.new_owner_address_main }}</td>
                <td>{{ ocr.new_owner_address_street }}</td>
                <td>{{ ocr.new_owner_address_number }}</td>
                <td>{{ ocr.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ ocr.updated_at.strftime("%Y-%m-%d %H:%M:%S") if ocr.updated_at else "" }}</td>
                <td>
                    <form action="{{ url_for('delete_ocr', ocr_id=ocr.id )}}" method="POST">
                        {{ form.hidden_tag() }}
                        <button type="submit">削除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">選択したデータをダウンロード</button>
</form>

{% else %}
<p>まだ案件データがありません。</p>
{% endif%}

<p><a href="/upload">アップロード画面に戻る</a></p>

<script>
    const selectAll = document.getElementById("selectAll");
    const checks = document.querySelectorAll(".checks");

    selectAll.addEventListener('click', () => {
        for (val of checks) {
            selectAll.checked == true ? val.checked = true : val.checked = false;
        }
    });

    checks.forEach(element => {
        element.addEventListener('click', () => {
            if (element.checked == false) {
                selectAll.checked = false;
            }
            if (document.querySelectorAll(".checks:checked").length == checks.length) {
                selectAll.checked = true;
            }
        });
    });
</script>

{% endblock %}

