{% extends 'base.html' %}

{% block title %}新規登録{% endblock %}

{% block content %}
<div class="signup-container">
  <form action="./signup" method="POST">
    <h2>新規登録</h2>
      {{ form.hidden_tag() }}
      <div class="signup-form">
      {{ form.email.label }}<br>
      {{ form.email }}<br>
      {{ form.password.label}}<br>
      {{ form.password }}<br>
      {{ form.confirm_password.label}}<br>
      {{ form.confirm_password }}<br>
      </div>
      <div class="signup-button">
        {{ form.submit() }}<br>
      </div>
            すでに登録済の方は<a href="./login">こちら</a>
  </form>
</div>
{% endblock %}