{% extends 'base.html' %}

{% block title %}アップロード{% endblock %}

{% block content %}
<div class="upload-container">
  <form class="upload-form" action="./upload" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h2>アップロード</h2>
    {{ form.new_owner_inkan.label }} <br>
    <div class="upload-file">
      {{ form.new_owner_inkan }} <br>
    </div>
    <div class="upload-button">
      {{ form.submit() }}
    </div>
  </form>
</div>

<script>
  var filerAea = document.getElementById('upload-file')
  var fileinput = document.getElementById('new_owner_inkan')

  fileArea.addEventListener('dragover', function(e) {
    e.preventDefault();
    fileArea.classList.add('dragover')
  });

  fileArea.addEventListener('dragleave', function(e) {
    e.preventDefault();
    fileArea.classList.remove('dragover')
  });

  fileArea.addEventListener('drop', function(e) {
    e.preventDefault();
    fileAea.classList.remove('dragover')

    var files = e.dataTransfer.files;

    fileInput.files = files

    if (typeof file[0] !== 'undefined') {
    } else {
    }
  });

  

</script>
{% endblock %}